{% extends "base.html" %}

{% block style %}

{% endblock %}

{% block body %}
    <div class="content-left">
        <div class="logo">LOGO</div>
    </div>

    <div class="content-right">
        <div class="subscribe">
            <a href="?action=register">
                <button class="btn">Créer un compte</button>
            </a>
        </div>
        <form method="post" action="?action=login">
            <div class="input-group">
                <h2>Se connecter</h2>
                <div class="input-form">
                    <input type="text" name="username" id="username" autocomplete="off">
                    <label for="username">Identifiant</label>
                    <span class="border-effect"></span>
                </div>
                <div class="input-form">
                    <input type="password" name="password" id="password" autocomplete="off">
                    <label for="password">Mot de passe</label>
                    <span class="border-effect"></span>
                </div>
                <a href="">Mot de passe oublié ?</a>
                <input type="submit" class="btn" value="Se connecter">
            </div>
        </form>
    </div>

    <script>
        var inputEffect = function() {

            var inputs = document.querySelectorAll(".input-form input");
            var inputgroups = document.querySelectorAll(".input-form");

            if (inputs !== null) {
                for (let i = 0; i < inputs.length; i++) {
                    var input = inputs[i];

                    if (input.value.length !== 0) {
                        inputgroups[i].classList.add("in");
                    }

                    inputs[i].addEventListener("input", function () {
                        if ( inputs[i].value.length === 0 ) {
                            inputgroups[i].classList.remove("in");
                        } else {
                            inputgroups[i].classList.add("in");
                        }
                    });
                    inputs[i].addEventListener("blur", function () {
                        if ( inputs[i].value.length === 0 ) {
                            inputgroups[i].classList.remove("in");
                        }
                    });
                    inputs[i].addEventListener("click", function () {
                        inputgroups[i].classList.add("in");
                    });
                }
            }

        };
        window.onload = function () {
            inputEffect();
        };
    </script>
{% endblock %}