/* Month header */
.month {
    padding: 22px;
    width: 100%;
    text-align: center;
    color: $black;
    ul {
      margin: 0;
      padding: 0;
      li {
        color: $black;
        font-size: 15px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 3px;
      }
    }
    .prev {
      float: left;
    }
    .next {
      float: right;
    }
  }
  
  .weekdays {
    padding: 10px 15px;
    display: flex;
    justify-content: space-around;
    li {
      color: $black;
      text-align: center;
    }
  }
  
  .days {
    padding: 15px 15px;
    li {
      cursor: pointer;
      width: 45px;
      height: 45px;
      border-radius: 25px;
      display: inline-block;
      text-align: center;
      margin-bottom: 5px;
      padding-top: 17px;
      font-size: 13px;
      font-weight: 700;
  
      &:hover{
        background: $yellow;
        color: $white;
      }
      &.active {
        background: $pink;
        box-shadow: 0 6px 11px 0 rgba(254, 120, 243, 0.24);
        color: $white;
      
      }
    }
  }
  