.today-appointment {
    width: 100%;
    margin: 15px;
    overflow: scroll;
    max-height: 300px;
    h2{
        font: 34px "avenir";
        font-weight: 700;
        color: $black;
    }

    h3{
        margin:40px 35px;
        font: 15px "avenir";
        span.today--rdv {
        font-weight: 700;
        color: $blue;
        }
    }
    ul{
        margin: 15px 35px;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: center;
        width: 100%;

        li{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-content: center;
            align-items: center;
            margin-bottom: 15px;
            width: 80%;
            .heure-rdv,
            .client-rdv{
                font-weight: 500;
                margin-right: 10px;
            }
            .lieu-rdv{

            }
            .itineraire{
                background: $white;
                color: $blue;
                border: 1px solid $blue;
                border-radius: 20px;
                text-align: center;
                
                margin-left: 14px;
                padding: 5px 15px;
                &:hover{
                    background: $blue;
                    color: $white;
                }
            }
    
            div.puce{
                color: transparent;
                margin-right: 15px;
                width: 30px;
                height: 30px;  
                border-radius: 15px;
                background: $yellow;
                box-shadow: 0 2px 11px 0 rgba(254, 191, 211, 0.61);

            }
            div.puce--next{
                color: transparent;
                margin-right: 15px;
                width: 30px;
                height: 30px;  
                border-radius: 15px;
                background: $white;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
            }   

        }
    
    }
}