{% extends "layout.html" %}

{% block content %}
<div class="welcome">
    <h1>Bonjour Paul !</h1>
    <span class="rectangle"></span>
</div>
<div class="two-part">
    <section class="card ">
        <div class="today-appointment">
            <h2 class="today">Vendredi 15 juin</h2>
            <h3>Vous avez <span class="today--rdv">4</span> rendez-vous aujourd'hui</h3>
            <ul class="ul-rdv">
                <li class="li-rdv">
                    <div class="puce">o</div>
                    <div class="heure-rdv">10:00</div>
                    <div class="client-rdv">- Madame Jarry</div>
                    <div class="lieu-rdv">- Place des Vosges</div>
                    <a class="itineraire"href="https://goo.gl/maps/Qx71H6g4S3T2">Go</a>
                </li>
                <li class="li-rdv">
                        
                        <div class="puce--next">o</div>
                        <div class="heure-rdv">10:00 </div>
                        <div class="client-rdv"> - Madame Jarry</div>
                        <div class="lieu-rdv"> - Place des Vosges</div>
                        <a class="itineraire"href="https://goo.gl/maps/Qx71H6g4S3T2">Go</a>
                </li>
                <li class="li-rdv">
                        <div class="puce--next">o</div>
                        <div class="heure-rdv">10:00</div>
                        <div class="client-rdv">- Madame Jarry</div>
                        <div class="lieu-rdv">- Place des Vosges</div>
                        <a class="itineraire"href="https://goo.gl/maps/Qx71H6g4S3T2">Go</a>
                    </li>
                    <li class="li-rdv">
                            <div class="puce--next">o</div>
                            <div class="heure-rdv">10:00</div>
                            <div class="client-rdv">- Madame Jarry</div>
                            <div class="lieu-rdv">- Place des Vosges</div>
                            <a class="itineraire"href="https://goo.gl/maps/Qx71H6g4S3T2">Go</a>
                        </li>
            </ul>
        </div>
    </section>
    <section class="calendar">
        <div class="card">
            <div class="month">
                <ul>
                    <li class="prev">&#10094;</li>
                    <li class="next">&#10095;</li>
                    <li>August 2018
                    </li>
                </ul>
            </div>

            <ul class="weekdays">
                <li>Lun</li>
                <li>Mar</li>
                <li>Mer</li>
                <li>Jeu</li>
                <li>Ven</li>
                <li>Sam</li>
                <li>Dim</li>
            </ul>

            <ul class="days">
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
                <li>9</li>
                <li class="active">10</li>
                <li>11</li>
                <li><span class="appointment"></span>12</li>
                <li>13</li>
                <li>13</li>
                <li>14</li>
                <li><span class="appointment"></span>15</li>
                <li>16</li>
                <li>17</li>
                <li><span class="appointment"></span>18</li>
                <li>19</li>
                <li>20</li>
                <li>21</li>
                <li>22</li>
                <li>23</li>

                <li>24</li>
                <li>25</li>
                <li>26</li>
                <li>27</li>
                <li>28</li>
                <li>29</li>

                <li>30</li>
                <li>31</li>
            </ul>
        </div>
    </section>
</div>
<div class="one-part">
    <section class="clients">
        <table class="table card">
            <thead>
                <tr>
                    <th>Client</th>
                    <th>Coli</th>
                    <th>Date d'envoi</th>
                    <th>État</th> 
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Milan Lunetier</td>
                    <td>3190</td>
                    <td>08/12/2018</td>
                    <td class="done">Livré</td>

                </tr>
                <tr>
                    <td>Optic 2000</td>
                    <td>3192</td>
                    <td>09/12/2018</td>
                    <td class="doing">En cours</td>
                </tr>
                <tr>
                    <td>Optic 2000</td>
                    <td>3190</td>
                    <td>09/12/2018</td>
                    <td class="failed">Échec</td>
                    </tr>
            </tbody>
        </table>

    </section>

</div>

<div class="one-part">
    <section class="top-clients">
        <div class="card">
                <h2>Top clients du mois</h2>
                <div class="client-card">
                    <div class="top-client-name">
                        <span>Milan lunetier</span>   
                    </div>


                    <h3>Produits achetés</h3>
                    <div class="top-client-nb-product">
                        <p>122</p>
                    </div>
                    <h3>Réassorts</h3>
                    <div class="top-client-reassort">
                        <p>4</p>
                    </div>
                </div>

                <div class="client-card">
                        <div class="top-client-name">
                            <span>Optic 2000 Vosges</span>
                        </div>
                        <h3>Produits achetés</h3>
                        <div class="top-client-nb-product">
                            <p>122</p>
                        </div>
                        <h3>Réassorts</h3>
                        <div class="top-client-reassort">
                            <p>4</p>
                        </div>
                    </div>

        </div>
    </section>

</div>



{% endblock %}