{% extends "layout.html" %}

{% block css %}
    <link rel="stylesheet" href="assets/css/App/productList.css">
{% endblock %}

{% block content %}
<div class="list-products">
    <div class="card-product">
        <div class="card-product__header">
            <p>92B569087</p>
        </div>
        <div class="card-product__content">

        </div>
        <div class="card-product__add">
            +
        </div>
    </div>
    <div class="card-product">
        <div class="card-product__header">
            <p>92B569087</p>
        </div>
        <div class="card-product__content">

        </div>
        <div class="card-product__add">
            +
        </div>
    </div>
    <div class="card-product">
        <div class="card-product__header">
            <p>92B569087</p>
        </div>
        <div class="card-product__content">

        </div>
        <div class="card-product__add">
            +
        </div>
    </div>
    <div class="card-product">
        <div class="card-product__header">
            <p>92B569087</p>
        </div>
        <div class="card-product__content">

        </div>
        <div class="card-product__add">
            +
        </div>
    </div>
    <div class="card-product">
        <div class="card-product__header">
            <p>92B569087</p>
        </div>
        <div class="card-product__content">

        </div>
        <div class="card-product__add">
            +
        </div>
    </div>
    <div class="card-product">
        <div class="card-product__header">
            <p>92B569087</p>
        </div>
        <div class="card-product__content">

        </div>
        <div class="card-product__add">
            +
        </div>
    </div>
    <div class="card-product">
        <div class="card-product__header">
            <p>92B569087</p>
        </div>
        <div class="card-product__content">

        </div>
        <div class="card-product__add">
            +
        </div>
    </div>
    <div class="card-product">
        <div class="card-product__header">
            <p>92B569087</p>
        </div>
        <div class="card-product__content">

        </div>
        <div class="card-product__add">
            +
        </div>
    </div>
</div>
{% endblock %}